<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Home</ion-title>
    <ion-buttons end>
      <button ion-button icon-only color="royal">
        <img src="assets/imgs/logo_live_add.png" class="icon-in-button">
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding class="backgroundAmsnImg">

  <ion-grid id="homeMeContainer">
    <ion-row>
      <ion-col col-3>
        <div class="avatarFrameonline">
            <img src="assets/imgs/generic_avatar.png" class="avatarImg img-fliud">
        </div>
      </ion-col>
      <ion-col col-9>
        Nick <br />
        <small>Subnick</small> <br />
        <small><b>juan@platzi.com</b></small>
      </ion-col>
    </ion-row>
  </ion-grid>

  <div class="searchBoxContainer">
      <ion-input type="text" [(ngModel)]="query" placeholder="Buscar..."></ion-input>
  </div>

  <div>
    <div>
      <b>Amigos</b>
    </div>
    <div class="contact-list-item" *ngFor="let user of friends | search: query; let i = index" 
        [ngClass]="{'contact-offline' : offlineStatus.includes(user.status)}"
        [ngStyle]="{'color' : offlineStatus.includes(user.status) ? 'red' : 'blue'}" 
        (click)="initConversation(user)">
      <img src="assets/imgs/{{getIconByStatus(user.status)}}.png" class="status">
      <b>{{user.name}}</b>
      <small *ngIf="user.status">{{user.status}}</small>
    </div>
</div>

</ion-content>
